body{
    background-color: black;
    color:white;
    
  }
  .container{
    text-align: center;
    margin:2rem 0rem;
  }
  #output{
    margin:2rem 0rem;
  }
  input{
    padding:0.2rem 0.8rem;
  }
  .btn{
    padding:.3rem .6rem;
    display:block;
   margin:1rem  auto;

  }
  /* footer */
  .footer-div{
   text-align: center;
    position: fixed;
    bottom: 0%;
    left:0;
    width: 100%;

}
.footer-div a{
    font-size: x-large;
    padding: .5rem 1rem;
}
.footer-div div{
  color:rgb(99, 52, 175);
  margin: 1rem 0rem;
}